{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js">

<title>Document</title>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<div class="Container" my-4>
    <img src="http://127.0.0.1:8000/media/image/download(2).jpg" alt="THuh" height="700" width="600">
</div>
<img src="media/image/download(2).jpg" alt="THuh" > 

<form action="">
    {% if show %}
    <label for="fname">Name:</label>
    <input type="text" id="name" name="name" value={{show.pl_name}}><br><br>
    <label for="lname">Email:</label>
    <input type="email" id="mail" name="mail" value={{show.pl_email}}><br><br>
    <label for="lname">Phone:</label>
    <input type="number" id="phone" name="phone"  value={{show.pl_phone}} ><br><br>
    <!-- <label for="lname">Image:</label>
    <input type="file" id="image" name="image"  value= {{show.pl_image}}><br><br> -->
    <input type="submit" value="Submit">

    {% endif %}
</form>

    <table>
        <tr>
     
            <th>Name</th><br>
            <th>Email</th>
            <th>Phone</th>
            <th>Image</th>
            

            
        </tr>
        {% if show %}
        <tr>
    
          <td>{{show.pl_name}}</td>
          <td>{{show.pl_email}}</td>
          <td>{{show.pl_phone}}</td>
          <td> 
            <img src="{{show.pl_image.url}}" alt="Trulli" class="prod-size" width="300" height="100" >
          </td>


        </tr>
        {% endif %}

    </table>
</body>

       
</html>

